body {
	max-width: 1440px;
	font-family: 'Montserrat', Arial, sans-serif;
	margin: 0 auto;
	padding: 0;
}
* {
	font-family: 'Montserrat', Arial, sans-serif;
	box-sizing: border-box;
	font-style: normal;
	margin: 0;
	padding: 0;
}
.App {
	display: flex;
	flex-direction: column;
	margin: 0;
}
